<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14010440991-hde73pbkgfspejseivtfa2t2kpaqjbqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14010440991-hde73pbkgfspejseivtfa2t2kpaqjbqn</string>
	<key>API_KEY</key>
	<string>AIzaSyDUvwtHNS4aqX_Arid8EFNij1a3uRCXHto</string>
	<key>GCM_SENDER_ID</key>
	<string>14010440991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.surote.FilmMania</string>
	<key>PROJECT_ID</key>
	<string>filmmania-1eaaf</string>
	<key>STORAGE_BUCKET</key>
	<string>filmmania-1eaaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14010440991:ios:ed514baa6d93a08ce2642a</string>
	<key>DATABASE_URL</key>
	<string>https://filmmania-1eaaf.firebaseio.com</string>
</dict>
</plist>